<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Halloween</title>
</head>
<body>
    <main class="container">
        <section class="prop-triggers">
            <div class="prop">
                <a href="/regan">Regan</a>
            </div>
            <div class="prop">
                <a href="/chuckles">Chuckles</a>
            </div>
            <div class="prop">
                <a href="/frijoles">Frijoles</a>
            </div>
        </section>
    </main>
</body>
</html>
